*
!.gitignore
!README.md
!LICENSE.txt
!AionPresence-Setup-0.7.9.exe
!AionPresence-Setup-0.7.9.sha256
!images/
!images/overview-en.png
!images/settings-en.png
!images/visibility-en.png
!images/updates-en.png
!images/overview-fr.png
!images/settings-fr.png
!images/visibility-fr.png
!images/updates-fr.png
